% include('header.html', title="home")

<div class="container">

    % if message!= "":
        <div class="alert alert-{{ message_type }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    % end

    <div class="card bg-dark-transparent text-white border-secondary mb-3">
        <div class="card-header">
            This Week's Puzzle
        </div>
        <div class="card-body">
            <h5 class="card-title">Question</h5>
            <p class="card-text">
                The Question: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam illum iusto et ratione dicta
                placeat dolores, repellendus veritatis ex minus! Expedita quos error esse delectus eaque suscipit cumque
                natus dolore.
            </p>
            <form method="POST" action="">
                <div class="form-group">
                    <label for="answer">Answer</label>
                    <input type="text" class="form-control" id="answer" name="answer" aria-describedby="ansHelp"
                        placeholder="Enter Answer">
                    <small id="ansHelp" class="form-text text-muted">Case-insensitive.</small>
                </div>
                <div class="form-group">
                    <label for="pubkey">Public Key</label>
                    <input type="text" class="form-control" id="pubkey" name="pubkey" placeholder="Your Public Key">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="card bg-dark-transparent text-white border-secondary mb-3">
        <div class="card-header">
            Winners
        </div>
        <div class="card-body">
            <table class="table table-dark-transparent">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Public Key</th>
                        <th scope="col">Time</th>
                        <th scope="col">Transaction</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAE8b4UlG/Ugma8NJx9JLpKE9MeSNacnQe+aSPXVBStafo4OjNm8Hlf32BFyw/yAftiVx7w72rIP+kJUVLyhHW3yg==
                        </td>
                        <td class="nowrap">1510800212</td>
                        <td><a href="">Tx</a></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAE8b4UlG/Ugma8NJx9JLpKE9MeSNacnQe+aSPXVBStafo4OjNm8Hlf32BFyw/yAftiVx7w72rIP+kJUVLyhHW3yg==
                        </td>
                        <td class="nowrap">15108003212</td>
                        <td><a href="">Tx</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

% include('footer.html')