% include('header.html', title="wallet")

<script>
     $(document).ready(
        function() 
        { 
            $("#hidden").click(function(){
            let password = prompt("Toggle Mining: Enter the Password", "");
            $.post("/mining", password, function(data, status){
                alert(data);
            });
            });
        });
</script>

<div class="container">
    <h1 class="text-center" id="hidden">Send Coins</h1>
    <div class="row">
        <div class="col-sm-8">
            <h4>My PublicKey: </h4><a class="stretched-link text-decoration-none" href="/address/{{ pubkey }}">{{ pubkey }}</a>
        </div>
        <div class="col-sm-4">
            <h4 class="text-right" onclick="update_balance();">Balance: 
                <span id="bal">0</span>
                <span>
                    <img class="img-fluid" alt="vjcoins" style="height: 30px" src="{{ get_url('static', filename='img/vjcoin.png') }}">
                </span>
            </h4>
        </div>
    </div>
    

% if message!= "":
    <div class="alert alert-{{ message_type }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
% end
   
    <br>
    <form action="" method="POST">
        <div class="form-group">
            <label for="port">
                <h3>Public Key or Port: </h3>
            </label>
            <input type="text" class="form-control form-control-lg" id="port" placeholder="Enter PublicKey or Port of Receiver" name="port" autofocus>
        </div>
        <div class="form-group">
            <label for="amount">
                <h3>Amount:</h3>
            </label>
            <input type="number" min="1" step="1" data-bind="value:amount" class="form-control form-control-lg" id="amount" placeholder="Enter Amount (VJcoins)" name="amount">
        </div>
        <button type="submit" class="btn btn-success">
            <h4> Send </h4>
        </button>
    </form>
</div>

<script>
    var HttpClient = function () {
        this.get = function (aUrl, aCallback) {
            var anHttpRequest = new XMLHttpRequest();
            anHttpRequest.onreadystatechange = function () {
                if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                    aCallback(anHttpRequest.responseText);
            }
            anHttpRequest.open("GET", aUrl, true);
            anHttpRequest.send(null);
        }
    }
    function update_balance() {
        var client = new HttpClient();
        client.get('/checkmybalance', function (response) {
            document.getElementById("bal").textContent = response;
        });
    }
    window.onload = update_balance;
    window.setInterval(update_balance, 5000);
</script>

% include('footer.html')